.calculator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;

  &__display {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
  }

  &__buttons {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    #AC {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    #plus-minus {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    #percentage {
      grid-column: 3/4;
      grid-row: 1/2;
    }

    #divide {
      grid-column: 4/5;
      grid-row: 1/2;
    }

    #one {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    #two {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    #three {
      grid-column: 3/4;
      grid-row: 2/3;
    }
    #times {
      grid-column: 4/5;
      grid-row: 2/3;
    }

    #four {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    #five {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    #six {
      grid-column: 3/4;
      grid-row: 3/4;
    }

    #minus {
      grid-column: 4/5;
      grid-row: 3/4;
    }

    #seven {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    #eight {
      grid-column: 2/3;
      grid-row: 4/5;
    }

    #nine {
      grid-column: 3/4;
      grid-row: 4/5;
    }

    #plus {
      grid-column: 4/5;
      grid-row: 4/5;
    }

    #zero {
      grid-column: 1/2;
      grid-row: 5/6;
    }

    #decimal {
      grid-column: 2/3;
      grid-row: 5/6;
    }

    #equals {
      grid-column: 3/5;
      grid-row: 5/6;
    }
  }
}
