@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
.calculator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}
.calculator__display {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
}
.calculator__buttons {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.calculator__buttons #AC {
  grid-column: 1/2;
  grid-row: 1/2;
}
.calculator__buttons #plus-minus {
  grid-column: 2/3;
  grid-row: 1/2;
}
.calculator__buttons #percentage {
  grid-column: 3/4;
  grid-row: 1/2;
}
.calculator__buttons #divide {
  grid-column: 4/5;
  grid-row: 1/2;
}
.calculator__buttons #one {
  grid-column: 1/2;
  grid-row: 2/3;
}
.calculator__buttons #two {
  grid-column: 2/3;
  grid-row: 2/3;
}
.calculator__buttons #three {
  grid-column: 3/4;
  grid-row: 2/3;
}
.calculator__buttons #times {
  grid-column: 4/5;
  grid-row: 2/3;
}
.calculator__buttons #four {
  grid-column: 1/2;
  grid-row: 3/4;
}
.calculator__buttons #five {
  grid-column: 2/3;
  grid-row: 3/4;
}
.calculator__buttons #six {
  grid-column: 3/4;
  grid-row: 3/4;
}
.calculator__buttons #minus {
  grid-column: 4/5;
  grid-row: 3/4;
}
.calculator__buttons #seven {
  grid-column: 1/2;
  grid-row: 4/5;
}
.calculator__buttons #eight {
  grid-column: 2/3;
  grid-row: 4/5;
}
.calculator__buttons #nine {
  grid-column: 3/4;
  grid-row: 4/5;
}
.calculator__buttons #plus {
  grid-column: 4/5;
  grid-row: 4/5;
}
.calculator__buttons #zero {
  grid-column: 1/2;
  grid-row: 5/6;
}
.calculator__buttons #decimal {
  grid-column: 2/3;
  grid-row: 5/6;
}
.calculator__buttons #equals {
  grid-column: 3/5;
  grid-row: 5/6;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #15f2fd, 0 0 11px #15f2fd, 0 0 19px #15f2fd, 0 0 40px #f00, 0 0 80px #f00, 0 0 90px #f00, 0 0 100px #f00, 0 0 150px hsl(0, 100%, 50%), 0 0 6px #ffe400, 0 0 8px #ffe400, 0 0 10px #ffe400;
  }
  0% {
    text-shadow: 0 0 2px #15f2fd, 0 0 4px #15f2fd, 0 0 6px #15f2fd, 0 0 10px #f00, 0 0 45px #f00, 0 0 55px #f00, 0 0 70px #f00, 0 0 80px #f00, 0 0 4px #ffe400, 0 0 6px #ffe400, 0 0 8px #ffe400, 0 0 10px #ffe400, 0 0 12px #ffe400, 0 0 15px #ffe400, 0 0 18px #ffe400, 0 0 20px #ffe400;
  }
}
body {
  background-image: url("./images/starbackground.jpg");
  background-size: cover;
}

.title {
  font-size: 4rem;
  color: #FFA900;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 5px;
  line-height: 1.5em;
  color: transparent;
  font-family: "Gothic A1", sans-serif;
  -webkit-text-stroke: 1px #FFA900;
  animation: pulsate 2.5s infinite alternate;
  color: #FFA900;
  -webkit-text-stroke: 1px #FFA900;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
}
.calculator__button {
  background-color: black;
  color: #FFA900;
  font-size: 2rem;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px #15f2fd, 0 0 25px #15f2fd;
  transition: font-size 0.3s ease, color 0.3s ease;
}
.calculator__button:hover {
  font-size: 3rem;
  color: #0fa;
  text-shadow: 0 0 10px #7d12ff, 0 0 20px #7d12ff, 0 0 30px #7d12ff, 0 0 40px #7d12ff;
}
.calculator__display {
  width: 70%;
  height: 20%;
  background-color: #000000;
  color: #02d5df;
  font-size: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 30px;
  font-family: "Gothic A1", sans-serif;
  animation: pulsate 2.5s infinite alternate;
  box-shadow: 0 0 5px #15f2fd, 0 0 25px #15f2fd;
}
.calculator__buttons {
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 30px;
}
.calculator .calculator__buttons button:active {
  background-color: #000000;
  color: #ffffff;
}
.calculator__vader {
  position: relative;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background: url("sith-lord-image.jpg"); /* Replace 'sith-lord-image.jpg' with your image file path */
  background-size: cover;
  transition: transform 0.5s ease; /* Adding transition for a smooth effect */
}
.calculator__vader:hover {
  animation: grow 1s forwards, disappear 1s forwards 3s; /* Grow on hover and disappear after 3 seconds */
}
@keyframes grow {
  0% {
    transform: scale(1); /* Initial size */
  }
  100% {
    transform: scale(20); /* Grow to 2 times the size */
  }
}
@keyframes disappear {
  to {
    opacity: 0; /* Disappear by reducing opacity */
  }
}/*# sourceMappingURL=main.css.map */